<template>
	<ValidationObserver v-slot="{ handleSubmit }">
		<form @submit.prevent="handleSubmit(onSubmit)" class="landing">
		  <ValidationProvider name="name" rules="required" v-slot="{ errors, classes }">
			  <div class="control">
					<input
						v-model="form.name"
						type="text"
						:class="classes"
						class="input"
						placeholder="Seu nome"
					>	
			    <span class="help">{{ errors[0] }}</span>
				</div>
			</ValidationProvider>
		  <div class="group">
			  <ValidationProvider name="email" rules="required|email" v-slot="{ errors, classes }">
				  <div class="control">
						<input
							v-model="form.email"
							type="text"
							:class="classes"
							class="input"
							placeholder="E-mail"
						>	
				    <span class="help">{{ errors[0] }}</span>
					</div>
				</ValidationProvider>
			  <ValidationProvider name="phone" rules="phone" v-slot="{ errors, classes }">
				  <div class="control">
						<input
							v-model="form.phone"
							type="text"
							:class="classes"
							class="input"
							placeholder="Telefone"
							v-mask="'(##) # ####-####'"
						>	
				    <span class="help">{{ errors[0] }}</span>
					</div>
				</ValidationProvider>
		  </div>
		  <ValidationProvider name="message" rules="required|max:3000" v-slot="{ errors, classes }">
			  <div class="control">
					<textarea
						v-model="form.message"
						:class="classes"
						class="textarea"
						placeholder="Conte um pouco sobre o seu serviço ou produto"
					/>	
			    <span class="help">{{ errors[0] }}</span>
				</div>
			</ValidationProvider>
		  <ValidationProvider name="copywriting" rules="required" v-slot="{ errors, classes }">
        <b-field label="Já possuí a redação (copywriting)?" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''" class="is-horizontal">
          <b-select
          	v-model="form.copywriting"
          	placeholder="Selecione"
          	expanded
          >
          	<option>Sim</option>
          	<option>Não</option>
          </b-select>
        </b-field>
      </ValidationProvider>
		  <ValidationProvider name="images" rules="required" v-slot="{ errors, classes }">
        <b-field label="Já possuí imagens para o conteúdo?" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''" class="is-horizontal">
          <b-select
          	v-model="form.images"
          	placeholder="Selecione"
          	expanded
          >
          	<option>Sim</option>
          	<option>Não</option>
          </b-select>
        </b-field>
      </ValidationProvider>
		  <ValidationProvider name="video" rules="required" v-slot="{ errors, classes }">
        <b-field label="Já possuí um vídeo explicativo?" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''" class="is-horizontal">
          <b-select
          	v-model="form.video"
          	placeholder="Selecione"
          	expanded
          >
          	<option>Sim</option>
          	<option>Não</option>
          </b-select>
        </b-field>
      </ValidationProvider>
		  <ValidationProvider name="contact" rules="required" v-slot="{ errors, classes }">
        <b-field label="Preferência de contato" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''" class="is-horizontal">
          <b-select
          	v-model="form.contact"
          	placeholder="Selecione"
          	expanded
          >
						<option>Celular</option>
						<option>Whatsapp</option>
						<option>Email</option>
          </b-select>
        </b-field>
      </ValidationProvider>
			<button
				type="submit"
				class="btn-landing"
				:class="{'is-loading': loading}"
			>
				VAMOS COMEÇAR
			</button>
		</form>
	</ValidationObserver>
</template>

<script>
export default {
	props: {
		loading: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			form: {
				name: '',
				email: '',
				phone: '',
				message: '',
				copywriting: null,
				images: null,
				video: null,
				contact: null
			}
		}
	},
	methods: {
		onSubmit() {
			if(!this.disabled) {
				this.$emit('submit', this.form)
			}
		}
	}
}
</script>


<style lang="scss" scoped>
	.btn-landing {
		width: 100%;
		margin-top: 42px;
		margin-bottom: 100px;
	}

	.group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 769px) {
			flex-direction: column;
		}
	}
</style>
