<template>
	<section class="section showcase">
		<div class="top">
			<a @click="$parent.close()"><span><- Voltar</span></a>
			<h2>{{ title }}</h2>
		</div>
		<div class="columns is-centered">
			<div class="column is-10 has-text-centered">
				<img :src="require(`~/assets/img/lp1/${img}`)">
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		props: {
			title: String,
			img: String
		}
	}
</script>

<style lang="scss" scoped>
	.section.showcase {
		min-height: 100vh;
		background-color: #1C1411;
		position: relative;
		.top {
			background-color: #281C18;
			min-height: 98px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 34px 150px;
			display: flex;
			align-items: center;
			@media (max-width: 769px) {
				padding: 20px;
				justify-content: space-between;
			}
			h2 {
				font-weight: bold;
				font-size: 42px;
				line-height: 48px;
				letter-spacing: -1px;
				color: #FAFAFA;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				@media (max-width: 769px) {
					font-size: 18px;
					transform: unset;
					left: unset;
					position: relative;
				}
			}
			> a {
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: #FAFAFA;
				position: relative;
				> span { z-index: 30; position: relative; }
				&::after {
					content: '';
					width: 55px;
					height: 7px;
					position: absolute;
					bottom: 0;
					right: 0;
					background-color: #FC6D3C;
				}
			}
		}
		.top + .columns {
			margin-top: 100px;
			img {
				border-radius: 20px;
				box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
			}
		}
	}
</style>