<template>
	<section class="section">
		<div class="container">
			<div class="ufo">
				<img src="~/assets/img/lp1/ufo.svg">
			</div>
			<div class="columns is-centered">
				<div class="column is-10 has-text-centered">
					<h2>Vamos construir a sua <br />
							landing page juntos?
					</h2>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-5">
					<contact-form
						:loading="loading"
						:disabled="success"
						@submit="onContactSubmit"
					/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ContactForm from '~/components/lp1/ContactForm.vue'

	export default {
		components: {
			ContactForm
		},
		data() {
			return {
				loading: false,
				success: false
			}
		},
		methods: {
			async onContactSubmit(formData) {
				try {
					this.loading = true
					await this.$axios.$post('/api/contact', formData)
					this.success = true
				} catch(err) {
					console.error(err.toString())
				} finally {
					this.loading = false
				}
			}
		}
	}
</script>


<style lang="scss" scoped>
	.ufo {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
		img { max-width: 420px; }
	}
	h2 {
		font-weight: bold;
		font-size: 42px;
		line-height: 48px;
		text-align: center;
		letter-spacing: -1px;
		color: #FAFAFA;
		margin-bottom: 42px;
		@media (max-width: 769px) {
			font-size: 30px;
			line-height: 36px;
			letter-spacing: -1.5px;
		}
	}
</style>