<template>
	<section class="section">
		<div class="container">
			<div class="columns is-vcentered is-centered">
				<div class="column is-5">
					<h2>
						Por que investir em uma  <br />
						landing page premium?
					</h2>
					<p>
						É muito comum ver negócios investirem pesado em campanhas online, anúncios em buscadores e/ou em mídias sociais, sem pensar na qualidade de suas landing pages. O fato é que desta forma estes negócios acabam atingindo um <strong>ROI</strong> muito inferior ao que o produto ou serviço é capaz de entregar em conversões.
					</p>
					<p>
						É fundamental que a sua landing page seja construída com ingredientes que possam <strong>elevar o potencial de suas vendas</strong>. Justamente por isto, nós da <strong>Clarific</strong> construímos páginas <strong>sob medida</strong>, alinhando a identidade visual de sua página à sua oferta e utilizando nossa experiência para entregar uma <strong>página que gere impacto e vendas</strong>.
					</p>
				</div>
				<div class="column imgs is-5">
					<div>
						<img src="~/assets/img/lp1/moon.svg" class="moon">
						<img src="~/assets/img/lp1/tablet.svg" class="tablet">
					</div>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-narrow">
					<a class="btn-landing">QUERO CONVERTER MAIS</a>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
.section {
	min-height: 808px;
	background-color: #0C0807;
}

h2 {
	font-weight: bold;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -1px;
	color: #FAFAFA;
	margin-bottom: 32px;
	@media (max-width: 769px) {
		font-size: 30px;
		line-height: 36px;
		letter-spacing: -1.5px;
	}
}

.columns {
	@media(max-width: 769px) {
		display: flex;
		flex-direction: column;
		.column.imgs {
			order: -9;
		}
	}
}

.column.is-narrow {
	@media (max-width: 769px) {
		display: flex;
		justify-content: center;
	}
}

p {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #E1E1E1;
	&+p { margin-top: 24px; }
}
.column.imgs {
	> div {
		position: relative;
		width: 372px;
		height: 414.75px;
		float: right;
	}
}

.tablet {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 180px;
	animation: float 2s cubic-bezier(0.310, 0.440, 0.445, 1.650) infinite;
}
.moon {
	position: absolute;
	top: 0;
	right: 0;
	width: 276px;
	filter: blur(8px);
}

.btn-landing {
	margin-top: 100px;
	@media (max-width: 769px) {
		margin-top: 42px;
	}
}

@keyframes float {
  0% { transform: translateY(0) }
  50% { transform: translateY(-2px) }
  100% { transform: translateY(0) }
}


</style>