<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-5">
					<h2 class="has-text-centered">Nossa vitrine</h2>
					<p>
						Ok, agora que você sabe o que uma landing page de qualidade deve ter para potencializar suas conversões, veja alguns exemplos do que já construímos por aqui:
					</p>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-10 portfolio">
					<div class="item" @click="isModalActive = true; title = 'Fenix Trader Club'; img = 'fenix-big.png';">
						<img src="~/assets/img/lp1/fenix.png">
					</div>
					<div class="item" @click="isModalActive = true; title = 'MTOR'; img = 'mtor-big.png';">
						<img src="~/assets/img/lp1/mtor.png">
					</div>
					<div class="item" @click="isModalActive = true; title = 'Carol Sanches'; img = 'csanches-big.png';">
						<img src="~/assets/img/lp1/csanches.png">
					</div>
					<div class="item" @click="isModalActive = true; title = 'Bella Lima'; img = 'bella-big.png';">
						<img src="~/assets/img/lp1/bella.png">
					</div>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-5 portfolio">
					<div class="item">
						<img src="~/assets/img/lp1/geisla.png" @click="isModalActive = true; title = 'Geisla Melo'; img = 'geisla-big.png';">
					</div>
					<div class="item" @click="isModalActive = true; title = 'Fábrica de Monstros'; img = 'fdm-big.png';">
						<img src="~/assets/img/lp1/fdm.png">
					</div>
				</div>
			</div>
		</div>

		<b-modal :active.sync="isModalActive"
			full-screen :can-cancel="false">
			<portfolio :title="title" :img="img" />
		</b-modal>
	</section>
</template>

<script>
	import Portfolio from '~/components/lp1/Portfolio.vue'
	export default {
		components: {
			Portfolio
		},
		data() {
			return {
				isModalActive: false,
				title: null,
				img: null
			}
		}
	}
</script>

<style lang="scss" scoped>
	.section {
		min-height: 794px;
	}
	.portfolio {
		&:first-of-type { margin-top: 42px; }
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 769px) {
			flex-direction: column;
			.item + .item {
				margin-top: 24px;
			}
			&:first-of-type {
				padding-bottom: unset;
			}
			&:last-of-type {
				padding-top: unset;
			}
		}
		.item {
			> img {
				transition: all .2s ease;
				transform: translateZ(0);
				backface-visibility: hidden;
			}
			cursor: pointer;
			&:hover {
				@media (min-width: 1000px) {
					> img {
						transform: scale(1.015);
					}
					animation: float 2s cubic-bezier(0.310, 0.440, 0.445, 1.650) infinite;
				}
			}
		}
	}
	h2 {
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		line-height: 48px;
		text-align: center;
		letter-spacing: -1px;
		color: #FAFAFA;
		@media (max-width: 769px) {
			font-size: 30px;
			line-height: 36px;
			letter-spacing: -1.5px;
		}
	}
	p {
		margin-top: 32px;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #E1E1E1;
	}

	@keyframes float {
	  0% { transform: translateY(0) }
	  50% { transform: translateY(-4px) }
	  100% { transform: translateY(0) }
	}
</style>