<template>
	<section class="section">
		<div class="noise"></div>
		<div class="rocket">
			<img src="~/assets/img/lp1/rocket.svg">
		</div>
		<div class="logo">
			<img src="~/assets/img/lp1/logo-footer.svg">
		</div>
		<div class="container">
			<div class="columns is-centered mt">
				<div class="column is-10 has-text-centered">
					<h2>Perguntas frequentes</h2>
					<div class="faq">
						<div>
				      <div class="item" @click="select(1)" :class="{active:selected === 1}">
				        <div class="itemTitle">
									Em quanto tempo a landing fica pronta?
				        </div>
				        <div class="itemDesc">
									Na grande maioria das vezes conseguimos entregar a página em 5 dias úteis, mas pode variar de acordo com as necessidades de cada projeto.
				        </div>
				      </div>
				      <div class="item" @click="select(2)" :class="{active:selected === 2}">
				        <div class="itemTitle">
				          Como funciona o workflow?
				        </div>
				        <div class="itemDesc">
				          Trabalhamos de uma forma bem objetiva: <br />
				          <div class="columns is-centered">
				          	<div class="column is-7 has-text-left content">
						          <ol>
						          	<li>Pesquisa</li>
						          	<li>Design UI/UX</li>
						          	<li>Aprovação do protótipo</li>
						          	<li>Desenvolvimento</li>
						          	<li>Lançamento</li>
						          </ol>
				          	</div>
				          </div>
				        </div>
				      </div>
				      <div class="item" @click="select(3)" :class="{active:selected === 3}">
				        <div class="itemTitle">
				          Quais são as formas de pagamento?
				        </div>
				        <div class="itemDesc">
				          Transferência bancária ou boleto. Trabalhamos com um sinal de 20% do valor, 40% após a aprovação do protótipo e os últimos 40% ao final do projeto, quando seu site é lançado.
				        </div>
				      </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		data() {
			return {
				selected: null
			}
		},
		methods: {
			select(event) {
				if(this.selected === event) {
					this.selected = null
				} else {
					this.selected = event
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
.section {
	position: relative;
	background: linear-gradient(180deg, #0C0807 0%, #281C18 100%);
	.columns.mt {
		margin-top: 200px;
		@media (max-width: 769px) {
			margin-bottom: 300px;
		}
	}
}

.noise {
	position: absolute;
	width: 100vw;
	height: 336px;
	top: -1px;
	left: 0;
	background: url('~assets/img/lp1/noise3.svg');
	background-repeat: repeat-x;
	background-origin: border-box;
	transform: rotate(180deg);
}

.logo {
	position: absolute;
	left: 150px;
	bottom: 32px;
	@media (max-width: 769px) {
		left: 32px;
	}
}

.rocket {
	position: absolute;
	bottom: 0;
	right: 32px;
	width: 201px;
	@media (max-width: 769px) {
		width: 100px;
	}
}

h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -1px;
	color: #FAFAFA;
	@media (max-width: 769px) {
		font-size: 30px;
		line-height: 36px;
	}
}


.faq {
	display: flex;
	justify-content: center;
	margin-top: 42px;
}
.item {
	@media (max-width: 769px) {
		width: 100%;
	}
  width: 420px;
  min-height: 46px;
  border: 2px solid #FAFAFA;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  .itemTitle {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: rgba(250, 250, 250, 0.8);
    opacity: .75;
    cursor: pointer;
    margin-bottom: -1px;
    min-height: 50px;
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      min-width: 14px;
      height: 14px;
      margin-right: 4px;
      background: url(~assets/img/lp1/down.svg);
      background-size: 14px 14px;
      background-repeat: no-repeat;
      vertical-align: middle;
    }
    &:hover { opacity: 1; }
  }
  .itemDesc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: -32px;
    padding: 16px;
    border-top: 1px solid #FAFAFA;
    color: #FAFAFA;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    transition: max-height 400ms ease, opacity 600ms linear 0.2s, margin-bottom 300ms ease, visibility 500ms ease;
    a { color: #FAFAFA; opacity: 0.75; font-weight: 600; &:hover { opacity: 1; } }
  }
  &.active {
    .itemDesc { opacity: 1; max-height: 600px; margin-bottom: unset; visibility: visible; }
    .itemTitle { opacity: 1; margin-bottom: unset; }
    .itemTitle:after { transform: rotate(180deg); }
  }
}
</style>