<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-10">
					<h2>O que nossos clientes dizem</h2>
					<p>
						 O trabalho da Clarific nos ajudou a elevar a performance de nossas campanhas. Atendimento e trabalho super profissional. Recomendo!
					</p>
					<p>
						Gleizer Rocha - ProjectWay
					</p>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	h2 {
		font-weight: bold;
		font-size: 42px;
		line-height: 48px;
		text-align: center;
		letter-spacing: -1px;
		color: #FAFAFA;
		@media (max-width: 769px) {
			font-size: 30px;
			line-height: 36px;
			letter-spacing: -1.5px;
		}
	}

	p {
		font-weight: 500;
		font-size: 18px;
		line-height: 36px;
		color: #E1E1E1;
		&:first-of-type {
			margin: 100px auto 0 auto;

			text-align: center;
			max-width: 720px;
			position: relative;
			&::before {
				content: '';
				width: 34px;
				height: 24px;
				position: absolute;
				top: -30px;
				left: -40px;
				background-image: url('~assets/img/lp1/quote.svg');
				background-size: 34px 24px;
			}
			@media (max-width: 769px) {
				margin: 42px auto 0 auto;
				&::before {
					left: -20px;
				}
			}
		}
		&:last-of-type {
			font-weight: 300;
			margin: 20px auto 0 auto;
			text-align: right;
			max-width: 720px;
			color: rgba(225, 225, 225, 0.65);
		}
	}
</style>