<template>
	<section class="section">
		<div class="noise"></div>
		<div class="container">
			<div class="columns is-vcentered is-centered">
				<div class="column is-5">
					<img src="~/assets/img/lp1/satellite.svg" class="satellite">
				</div>
				<div class="column is-5">
					<h2>
						Por que construir <br />
						uma landing page?
					</h2>
					<p>
						Se você chegou até aqui, provavelmente já sabe que a <strong>landing page é uma importante peça de comunicação</strong> que fará parte de sua estratégia de vendas online. É a partir desta página que você passa a sua mensagem para <strong>gerar o interesse</strong> em sua audiência com o objetivo de fazer com que estas pessoas tomem a ação que você deseja, o que chamamos de <strong>conversão</strong>, seja ela uma compra ou um lead.
					</p>
				</div>
			</div>
		</div>
		<div class="noise-bottom"></div>
	</section>
</template>

<style lang="scss" scoped>
.section {
	position: relative;
	min-height: 692px;
	background: linear-gradient(180deg, #281C18 0%, #0C0807 100%);
	@media (max-width: 769px) {
		padding-top: unset;
	}
}
.noise {
	position: absolute;
	width: 100vw;
	height: 336px;
	top: -1px;
	left: 0;
	background: url('~assets/img/lp1/noise2.svg');
	background-repeat: repeat-x;
	background-origin: border-box;
}

.noise-bottom {
	position: absolute;
	width: 100vw;
	height: 336px;
	bottom: -1px;
	left: 0;
	background: url('~assets/img/lp1/noise3.svg');
	background-repeat: repeat-x;
	background-origin: border-box;
}

.columns {
	@media (min-width: 769px) {
		margin-top: 100px;
	}
}

h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -1px;
	color: #FAFAFA;
	@media (max-width: 769px) {
		font-size: 30px;
		line-height: 36px;
	}
}

p {
	position: relative;
	z-index: 60;
	margin-top: 32px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #E1E1E1;
}

.satellite {
	position: relative;
	z-index: 30;
	width: 420px;
	@media (min-width: 769px) {
		margin-left: -40px;
	}
	@media (max-width: 769px) {
		width: 280px;
	}
}
</style>