<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-5">
					<h2 class="has-text-centered">
						Características de uma <br />
						landing page de qualidade
					</h2>
					<div class="content">
						<ul>
							<li>Transmite profissionalismo, segurança e credibilidade;</li>
							<li>Gera o impacto desejado no público-alvo;</li>
							<li>A mensagem é passada de forma clara e objetiva;</li>
							<li>Design alinhado à promessa e ao perfil do público-alvo;</li>
							<li>Acessibilidade é levada em consideração;</li>
							<li>Call to actions claros e intuitivos;</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	.section {
		background-color: #0C0807;
		min-height: 603px;
	}

	h2 {
		font-weight: bold;
		font-size: 42px;
		line-height: 48px;
		text-align: center;
		letter-spacing: -1px;
		color: #FAFAFA;
		@media (max-width: 769px) {
			font-size: 30px;
			line-height: 36px;
			letter-spacing: -1.5px;
		}
	}

	.content li + li {
	    margin-top: 24px;
	}

	.content ul {
		list-style: none;
	}

	.content ul li:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url('~assets/img/lp1/checkmark.svg');
    background-size: cover;
	}

	ul {
		margin-top: 42px;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		color: #E1E1E1;
		li {
			position: relative;
		}
	}
</style>