<template>
	<section class="section">
		<div class="noise"></div>
		<div class="container">
			<a href="https://clarific.com.br/" target="_blank" class="logo"><img src="~/assets/img/lp1/logo.svg"></a>
			<div class="columns is-vcentered is-centered">
				<div class="column is-5">
					<h1>
						Esta é uma
						<br />landing page
					</h1>
					<h4>Para que você faça <strong>a sua</strong> com a gente.</h4>
					<a class="btn-landing">COMEÇAR AGORA MESMO</a>
				</div>
				<div class="column is-5">
					<img src="~/assets/img/lp1/astronaut.svg" class="astronaut">
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
.section {
	position: relative;
	@media (min-width: 769px) {
		min-height: 817px;
	}
	background-color: #281C18;
}

.noise {
	position: absolute;
	width: 100vw;
	height: 336px;
	top: -1px;
	left: 0;
	background: url('~assets/img/lp1/noise1.svg');
	background-repeat: repeat-x;
	background-origin: border-box;
}

.container {
	position: relative;
}

.logo {
	position: absolute;
	top: 32px;
	left: 60px;
	@media (max-width: 769px) {
		left: 0;
	}
}

.columns {
	padding-top: 100px;
	.column:first-of-type {
		@media (min-width: 769px) {
			margin-right: 98px;
		}
	}
}

h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 82px;
	line-height: 86px;
	letter-spacing: -2px;
	color: #FAFAFA;
	@media (max-width: 769px) {
		font-size: 52px;
		line-height: 56px;
	}
}

h4 {
	> strong { color: rgba(250, 250, 250, 0.9); }
	margin-top: 32px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -1.5px;
	color: rgba(250, 250, 250, 0.75);
	@media (max-width: 769px) {
		font-size: 18px;
		line-height: 18px;
		letter-spacing: -0.5px;
	}
}

.btn-landing {
	margin-top: 48px;
	@media (max-width: 769px) {
		display: flex;
		justify-content: center;
	}
}

.astronaut {
	position: relative;
	width: 423px;
	animation: float 2s cubic-bezier(0.310, 0.440, 0.445, 1.650) infinite;
	z-index: 30;
	@media (max-width: 769px) {
		position: absolute;
		top: -50px;
		left: 190px;
		width: 240px;
	}
	@media (max-width: 374px) {
		left: 150px;
	}
}

@keyframes float {
  0% { transform: translateY(0) }
  50% { transform: translateY(-4px) }
  100% { transform: translateY(0) }
}
</style>