<template>
	<section class="section">
		<div class="container">
			<div class="columns is-variable is-8 is-vcentered">
				<div class="column">
					<img src="~/assets/img/lp2/section6.svg">
				</div>
				<div class="column">
					<h5 class="lp2">Quinto passo</h5>
					<h2 class="lp2">Hora de colocar o design em prática</h2>
					<p class="lp2">Seguimos em frente: desenhamos as ilustrações, juntamos todos os ingredientes e <strong>montamos um protótipo.</strong></p>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	.section {
		@media (min-width: 769px) {
			img {
				max-width: 574px;
			}
		}
	}
</style>