<template>
	<section class="section">
		<div class="container">
			<div class="columns is-variable is-8 is-vcentered">
				<div class="column">
					<img src="~/assets/img/lp2/section4.svg">
				</div>
				<div class="column">
					<h5 class="lp2">Terceiro passo</h5>
					<h2 class="lp2">Nós <em>brainstornamos</em></h2>
					<p class="lp2">Foi nesta etapa que a ideia de criar uma “<em>landing page</em> sobre <em>landing page</em>” <strong>nasceu</strong>.</p>
				</div>
			</div>
		</div>
	</section>
</template>


<style lang="scss" scoped>
	.section {
		img {
			@media (min-width: 769px) {
				max-width: 574px;
			}
		}
	}
</style>