<template>
	<section class="section">
		<div class="container">
			<div class="columns is-variable is-8 is-vcentered">
				<div class="column">
					<img src="~/assets/img/lp2/section8.svg">
				</div>
				<div class="column">
					<h5 class="lp2">Sétimo passo</h5>
					<h2 class="lp2">Instalamos ferramentas analíticas</h2>
					<p class="lp2">Se você chegou até aqui, mova o cursor do seu mouse. <strong>Estamos te vendo!</strong> :)</p>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
	.section {
		@media (min-width: 769px) {
			img { max-width: 574px; }
		}
		@media (max-width: 769px) {
			h2.lp2 { font-size: 27px; }
		}
	}
</style>