<template>
	<section class="section">
		<div class="container">
			<div class="columns is-variable is-8">
				<div class="column is-6">
					<img src="~/assets/img/lp2/section2.svg">
				</div>
				<div class="column is-6">
					<h5 class="lp2">Primeiro passo</h5>
					<h2 class="lp2">Nós determinamos que você é nosso público-alvo</h2>
					<p class="lp2">Sim, pagamos cerca de <strong>R$ 1</strong> para trazer você aqui.</p>
				</div>
			</div>
		</div>	
	</section>
</template>

<style lang="scss" scoped>
	.columns {
		align-items: center;
		img { width: 575.13px; }
	}
</style>