<template>
  <section class="section">
    <div class="oops">
      <div>
        <img src="~/assets/img/monkey.svg">
      </div>
      <div>
        <h1>Nada por aqui, capitão!</h1>
        <p>
          Mas não se preocupe, vamos redirecionar a rota pro planeta certo.
          <br />
          Segura as pontas.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  mounted() {
    setTimeout(() => window.location.href = "https://clarific.com.br", 5000)
  }
}
</script>

<style lang="scss" scoped>
  .oops {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    div:first-of-type { margin-right: 42px; }
    h1 {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 20px;
    }
    @media (max-width: 769px) {
      flex-direction: column;
      margin-top: 20px;
      div:first-of-type { margin-bottom: 62px; margin-right: unset; }
      h1 { margin-bottom: 32px; }
    }
  }
</style>