<template>
	<contact-form
		:loading="loading"
		:disabled="success"
		@submit="onContactSubmit"
	/>	
</template>

<script>
import ContactForm from '~/components/lp1/ContactForm.vue'
export default {
	components: {
		ContactForm
	},
	data() {
		return {
			loading: false,
			success: false
		}
	},
	methods: {
		async onContactSubmit(formData) {
			try {
				this.loading = true
				await this.$axios.$post('/api/contact', formData)
				this.success = true
			} catch(err) {
				console.error(err.toString())
			} finally {
				this.loading = false
			}
		}
	}
}
</script>