<template>
	<div class="main">
		<div class="cable">
			<img src="~/assets/img/lp1/cable.svg">
		</div>
		<section-1 />
		<section-2 />
		<section-3 />
		<section-4 />
		<section-5 />
		<section-6 />
		<section-7 />
		<section-8 />
	</div>
</template>

<script>
import Section1 from '~/components/lp1/Section1.vue'	
import Section2 from '~/components/lp1/Section2.vue'
import Section3 from '~/components/lp1/Section3.vue'
import Section4 from '~/components/lp1/Section4.vue'
import Section5 from '~/components/lp1/Section5.vue'
import Section6 from '~/components/lp1/Section6.vue'
import Section7 from '~/components/lp1/Section7.vue'
import Section8 from '~/components/lp1/Section8.vue'

export default {
	layout: 'brown',
	components: {
		Section1, Section2, Section3, Section4, Section5, Section6, Section7, Section8
	},
	head () {
		return {
			title: 'Landing page premium - Design e desenvolvimento - Clarific',
	    link: [
	      { rel: 'icon', type: 'image/png', href: '/fav-lp-1.png' }
	    ]
		}
	}
}
</script>

<style lang="scss" scoped>
	.main {
		position: relative;
	}

	.cable {
		position: absolute;
		width: 919px;
		top: 300px;
		left: 55%;
		transform: translateX(-55%);
		z-index: 10;
		@media (max-width: 1407px) {
			top: 300px;
			left: 74%;
			transform: translateX(-74%);
		}
		@media (max-width: 1215px) {
			top: 400px;
			width: 820px;
			left: 80%;
			transform: translateX(-80%);
		}
		@media (max-width: 769px) {
			width: 480px;
			top: 200px;
			left: 138%;
		}
		@media (max-width: 368px) {
			display: none;
		}
	}
</style>